.subscription{
  padding:7px 18px;
}
h5{
  font-size: 18px;
  margin: 10px 0;
  display: inline-block;
}
h6{
  margin:8px 0;
  font-size: 14px;
  margin-left: 7px;
}

input, select{
  margin-left: 18px;
  margin-bottom: 7px;
}

ul > li > input, input{
  display: inline-block;
  margin-right: 7px;
}

.score{
  color:green;
}

.totalScore{
  font-size: 20px;
  font-weight: bold;
  margin-top: 18px;
}

.BTN{
  color:green;
  border:1px solid green;
  padding:2px;
  box-sizing: border-box;
  border-radius: 3px;
}