@font-face {
    font-family: "LH_L";        
    src: url("../src/font/LH L.ttf"); 
}
@font-face {
    font-family: "LH_M";        
    src: url("../src/font/LH M.ttf"); 
}
@font-face {
    font-family: "LH_B";        
    src: url("../src/font/LH B.ttf"); 
}

*{
    margin:0;
    padding:0;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}
h1{
    text-align: center;
    margin-top: 30px;
    font-family: "LH_B";
}