.subscription{
  padding:7px 18px;
  background-color: #fff;
} 

h5{
  font-size: 18px;
  margin: 10px 0;
  display: inline-block;
}

h6{
  margin:1px 0;
  font-size: 15px;
  margin-left: 7px;
}

input, select{
  margin-left: 18px;
  margin-bottom: 7px;
  margin-top: 7px;
  width:80px;
}

ul > li > input, input{
  display: inline-block;
  margin-right: 7px;
}

.score{
  color:rgb(0,91,172);
  font-size: 15px;
  margin-top:3px;
  margin-bottom: 20px;
}

.totalScore{
  font-size: 15px;
  font-weight: bold;
  margin-top: 18px;
}


.BTN{
  color:white;
  background: rgb(40, 140, 228);
  border:1px solid rgb(40, 140, 228);
  box-sizing: border-box;
  padding:3px;
  font-size: 14px;
  border-radius: 4px;
  position: absolute;
}

.BTN:hover{
  background: rgba(40, 140, 228, 0.274);
  border:1px solid rgba(40, 140, 228, 0.274);
  color:black;
  box-sizing: border-box;
  padding:3px;

}

.Select_Box{
  margin-top: 14px;
  border:1px solid rgb(0,91,172);
  height:22px;
  border-radius: 5px;
  width:130px;
}

.inline-block{
  display: inline-block;
  margin-right: 3px;

}
.margin-left{
  margin-left: 30px;
}

.submitBTN{
  color:white;
  background: rgb(40, 140, 228);
  border:1px solid rgb(40, 140, 228);
  box-sizing: border-box;
  padding:3px;
  font-size: 15px;
  border-radius: 4px;
  position: absolute;
  top:10px;
  display: inline-block;
}

.submitBTN:hover{
  background: rgba(40, 140, 228, 0.274);
  border:1px solid rgba(40, 140, 228, 0.274);
  color:black;
  box-sizing: border-box;
  padding:3px;

}

.apply{
  display: inline-block;
}
.block{
  display: block;
  position: relative;
  width:500px;
}

*{
  font-family: "LH_M";
}

.LocationBox{
  border: 3px solid rgb(0,91,172);
  text-align: center;
  box-sizing: border-box;
  padding:30px 0px;
  margin-top: 4px;
  border-radius: 7px;
  font-size: 20px;
}

.LocationBox2{
  border: 3px solid rgb(0,91,172);
  text-align: center;
  box-sizing: border-box;
  padding:30px 0px;
  border-radius: 7px;
  margin-top: 18px;
  font-size: 20px;
}


@media screen and (max-width:768px) {
  h5{
    font-size: 15px;
    margin: 10px 0;
    display: inline-block;
  }
  
  h6{
    margin:1px 0;
    font-size: 12px;
    margin-left: 7px;
  }
  .inline-block{
    display: inline-block;
    margin-right: 3px;
  }
  .margin-left{
    margin-left: 10px;
  }
  .subbtn{
    top:30px;
    right:50px;
  }
  .option3{
    position: relative;
  }
  .option4{
    position: relative;
  }
}

.result4_alert{
  margin-bottom: 5px;
}
.result5_alert{
  margin-bottom: 10px;
}
.option1_result{
  margin-right: 10px;
}
.red{
  color:red;
}

.blue{
  color:blue;
}