.FaqList{
    width:300px;
    height:100px;
    background-color: rgb(40, 140, 228);
    box-shadow: 5px 5px 5px -2px rgb(0, 0, 0,.2) ;
    text-align: center;
    border-radius:10px;
    margin-top:50px;
    transform: translateX(50%);
    padding: 33px 0;
    box-sizing: border-box;
    cursor:pointer;
    z-index: 66;
    height:100px;
    color: #fff;
    font-family: "LH_B";
    font-size:30px;
}

.FaqList:hover{
    background-color: rgba(40, 140, 228, 0.274);
    padding: 28px 0;
    color: #000;
}

.FaqBoardWrap{
    margin:70px auto 0 auto;
    width: 1250px;
}

.homeBtn{
    display: inline-block;
    width:100px;
    height: 45px;
    border-radius: 8px;
    text-align: center;
    padding: 12px 0;
    color:#fff;
    box-sizing: border-box;
    background-color: rgb(0,91,172);
    margin-bottom: 30px;
}

.homeBtn:hover{
    border: 3px solid rgb(0,91,172);
    background-color: #fff;
    color: #000;
    padding: 9px 0;
}

.FaqBoard{
    height: 700px;
    width: 100%;
    border: 3px solid rgb(0,91,172);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.FaqBoard > .btn_array > a:nth-child(1){
    border-left:none;
}

table,tr,td{
    border-collapse:collapse;
    /* border:1px solid red; */
}

.FaqTable{
    width: 100%;
}

.FaqTable > thead{
    height: 60px;
    border-bottom: 2px solid #000;
}

.FaqTable > thead> tr > th:nth-child(1){
    width: 50%;
    border-right: 1px solid #000;
}

.FaqTable > thead> tr > th:nth-child(2){
    width: 50%;
}

.FaqTable > thead > tr > th{
    font-size:20px
}

.FaqTable > tbody > tr{
    text-align: center;
    height: 35px;
}

.FaqTable > tbody > tr > td {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 15px 30px;
    box-sizing: border-box;
}

.FaqTable > tbody > tr > td:nth-child(2){
    border-right: none;
}