.finincome_header > button{
    width:20px;
    margin-left:530px;
    background-color: rgb(40, 140, 228);
    color:#fff;
    border-radius:5px;
    font-size:10px;
}

.finincome_header > button:hover{
    background-color: rgba(40, 140, 228, 0.274);
    color:#000;
}

.finincome{
    width:500px;
    height:100px;
    margin-top:-40px;
    background-color:#fff;
    font-size:12px;
    overflow-y:hidden;
}

.finincome2{
    margin-top:-40px;
    overflow-y:hidden
}

@media screen and (max-width:768px) {
    .finincome_header > button{
        margin-left:360px;
    }
    .finincome{
        width:350px;
        height:100px;
        margin-top:-40px;
        background-color:#fff;
        font-size:10px;
    }
}