.sub_income{
    margin-top:10px;
    margin-left:10px;
    color: rgba(255, 0, 0, 0.644);
}

.income_img{
    width:580px;
    height:400px;
}

.office_worker{
    width:550px;
    height: 110px;
    margin:20px auto;
    border: 1px solid rgb(0,91,172);  
    border-radius: 5px;
    padding: 10px;
    overflow-y: hidden;
}

.office_worker div h3{
    text-align: center;
}
.income_info{
    font-size:12px;
    margin-top: 10px;
}
.office_worker div p a{
    margin:0 auto;
}

.office_worker div p a img{
    width:130px;
    height:40px;
    margin-top:10px;
    margin-left:200px;
}

.office_worker div p a img:hover{
    transform: scale(1.1, 1.1);
    transition-duration: 0.5s;
}

.entrepreneur{
    width:550px;
    height: 110px;
    margin:20px auto;
    border: 1px solid rgb(0,91,172);  
    border-radius: 5px;
    padding: 10px;
    overflow-y: hidden
}

.entrepreneur div h3{
    text-align: center;
}

.entrepreneur div p a img{
    width:120px;
    height:50px;
    margin-top:20px;
    margin-left:200px;
}

.entrepreneur div p a img:hover{
    transform: scale(1.2, 1.2);
    transition-duration: 0.5s;
}


.EtcIncome{
    width:550px;
    height: 110px;
    margin:20px auto;
    border: 1px solid rgb(0,91,172);  
    border-radius: 5px;
    padding: 10px;
    overflow-y: hidden
}

.EtcIncome  div h3{
    text-align: center;
}

.EtcIncome > div > p{
    margin-top:5px;
}

.middle_font{
    font-size:15px;
}

.middle_font a{
    color:blue;
}

.middle_font a:hover{
    color:crimson;
    font-size: 17px;
}

.small_font{
    font-size:12px;
}

@media screen and (max-width:768px) {
    .office_worker{
        width:380px;
    }

    .office_worker div h3{
        font-size:15px;
    }
    .office_worker div p a img{
        margin-left:120px;
    }

    .entrepreneur{
        width:380px;
    }

    .entrepreneur div h3{
        font-size:15px;
    }
    .entrepreneur div p a img{
        margin-left:120px;
    }

    .EtcIncome{
        width:380px;
    }
    .EtcIncome div h3{
        font-size:15px;
    }
    .EtcIncome div p a img{
        margin-left:120px;
    }
    .middle_font{
        font-size:12px;
    }
    .small_font{
        font-size:8px;
    }
    .middle_font a{
        font-size:10px;
        color:blue;
    }
}