.notice_header{
    width:500px;
    margin:0 auto;
}

.notice{
    width:80px;
    height:90px;
    border: 1px solid rgb(0,91,172);
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    transform: translateX(-65%);
    text-align: center;
    margin-left:850px;
    font-size:18px;
    font-family:"LH_L";
    color:rgb(0,91,172);
}

.notice img{
    width:65px;
    height:50px;
}

.notice:hover{
    color:rgb(0,91,172);
    border: 3px solid rgb(0,91,172);
    font-family:"LH_B";
}

.notice_img{
    width:1200px;
    height:700px;
    position:absolute;
    transform:translate(-29%,15%);
    z-index: 5;
}

@media screen and (max-width: 768px) {
    .notice{
        width:110px;
        margin-left:0px;
        transform: translateX(100%);
    }

    .notice_img{
        width:400px;
        height:250px;
        transform:translate(2%,40%);
    }

    .notice img{
        width:100px;
        height:50px;
    }
}