.applyhome{
    width:550px;
    height:100px;
    margin:10px auto;
    border: 1px solid rgb(0,91,172);  
    border-radius: 5px;
    padding: 10px;
}
.applyhome_img{
    width:100px;
    height:100px;
}

.bank_site{
    width:550px;
    height: 500px;
    margin:10px auto;
    border: 1px solid rgb(0,91,172);  
    border-radius: 5px;
}
.kb > a > img{
    width:180px;
    height:150px;
}
.nh > a > img{
    width:150px;
    height:150px;
}
.woori > a > img{
    width:180px;
    height:150px;
}
.keb > a > img{
    width:150px;
    height:150px;
}
.ibk > a > img{
    width:200px;
    height:70px;
}

.bank_site > ul > li {
    float:left;
    margin-left: 15px;
}