.supply_header{
    width:500px;
    margin:0 auto;
}

.supply_header2{
    display:none;
}

.supply{
    width:110px;
    height:90px;
    border: 1px solid rgb(0,91,172);
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    transform: translateX(-170%);
    text-align: center;
    margin-left:850px;
    font-size:14px;
    font-family:"LH_L";
    color:rgb(0,91,172);
    overflow-y: hidden;
}

.supply:hover{
    color:rgb(0,91,172);
    border: 3px solid rgb(0,91,172);
    font-family:"LH_B";
}

.supply > img{
    width: 65px;
    height: 50px;
    margin-left:5px;
}

.supply_img{
    width:1600px;
    height:750px;
    position:absolute;
    transform:translate(-33%,15%);
    z-index:7
}

@media screen and (max-width:768px) {
    .supply_header{
        display:none;
    }
    .supply_header2{
        width:500px;
        margin:0 auto;
        display:block;
    }
    .supply{
        margin-left:0px;
        transform: translateX(250%);
    }

    .supply_img{
        width:420px;
        height:850px;
        transform:translate(3%,15%);
        z-index:7
    }
}