.wrap{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.tab_left{
    width: 600px;
    height: 700px;
    margin-right:50px;
    background-color: #fff;
    border: 5px solid rgb(0,91,172);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tab_right{
    width: 600px;
    height: 700px;
    background-color: #fff;
    border: 5px solid rgb(0,91,172);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn_array{
    display: flex;
}

.btn_array > button{
    cursor: pointer;
    width: 100%;
    height:50px;
    border:none;
    background-color:#fff;
    padding: 7px 0;
    border-left: 0.5px solid rgb(0,91,172);
    border-bottom: 3px solid rgb(0,91,172);
    font-size:20px;
    font-family: "LH_M";        
}

.btn_array > button:hover{
    background-color: rgb(40, 140, 228);
    color:aliceblue;
}
